---
title: "Community Services"
layout: archive
excerpt: "Fereshteh's community services"
sitemap: false
permalink: /services/
author_profile: true
---

{% include base_path %}

<div class="archive" id="serviceList" style="padding: 0px; margin: 0px; float: left">
	
	<div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
		I believe that it is important to make an ongoing commitment to community and academic service. During my PhD studies, I was elected as a student representative on the department Graduate Committee.
		I also take great pride in contributing my share of work to the research community as follows:
		<br/><br/><br/>
	</div>
		
	<div style="font-size: 14px; padding-left: 30px; line-height: 1.5">				
		<strong>Program Committee: </strong>
			<a href="https://iss2017.acm.org/organization/program_committee/" target="_blank">Interactive Surfaces and Spaces Conference (ACM ISS 2017).</a>
		<br/><br/>
	</div>
	
	<div style="font-size: 14px; padding-left: 30px; line-height: 1.5">		
		<strong>Reviewer: </strong>
			IEEE InfoVis (2013, 2014, 2015, 2016, 2017), IEEE VAST (2015, 2016, 2017), IIEEE TVCG (2015, 2016, 2017), EuroVis (2014), ACM CHI (2014, 2015, 2016), ACM TOCHI (2016), UIST (2015, 2017), INTERACT(2017), MobileHCI(2012, 2014, 2015).
		<br/><br/>
	</div>
	
	<div style="font-size: 14px; padding-left: 30px; line-height: 1.5">	
		<strong>Student Volunteer: </strong>
			ACM CHI Conference (2015).
		<br/><br/>
	</div>	
</div>

{% include paginator.html %}