---
title: "Teaching"
layout: archive
excerpt: "Introduction to Fereshteh's teaching"
sitemap: false
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="archive" id="teachingList" style="padding: 0px; margin: 0px; float: left">
	<div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
	I believe in providing an interactive classroom experience, in which students are fully engaged and 
	are encouraged to participate and ask questions. I strive to teach students to think critically, 
	work independently, and to take ownership of their projects.
	<br/>
	I have had the chance to develop and practice my teaching philosophy through several teaching and teaching assistant positions 
	but I list the most significant experiences are listed here:
	</div>

    <h3>COMP 1020 - Introductory Computer Science 2 - Winter 2016</h3>
    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        As a sessional instructor/lecturer at the CS department of University of Manitoba, I taught and gave lectures on 
		topics related to advanced JAVA programming. 
		In addition to handling large classes of about 80 students, I worked to improve the course by updating 
		the curriculum and improving the lecture slides and by re-writing student assignment instructions to clarify areas 
		that posed misunderstandings.
        
    </div>
     <div style="font-size: 14px; padding-left: 30px; ">
		<br/>
		<span style="font-size: 16px;"><a target="_blank" class='textlink'
										  href="https://www.cs.umanitoba.ca/coursedescrip/comp1020.pdf"><u>[Syllabus]</u></a></span>
	</div>
	
    <h3>COMP 3020 -  Human-Computer Interaction 1 - Fall 2015</h3>
    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        As a teaching assistant/marker at the CS department of University of Manitoba, I helped the course instructors through 
		various tasks including answering student questions, invigilating exams, and marking projects and assignments.
        
    </div>
     <div style="font-size: 14px; padding-left: 30px; ">
		<br/>
		<span style="font-size: 16px;"><a target="_blank" class='textlink'
										  href="https://www.cs.umanitoba.ca/coursedescrip/comp3020.pdf"><u>[Syllabus]</u></a></span>
	</div>	


    <h3>ACS-3909 - ADVANCED INTERNET PROGRAMMING - Winter 2010</h3>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
	
		I was invited back in the following term (winter 2010) to teach advance internet programming course at the University of Winnipeg's 
		Applied Computer Science department. This course provided students with a thorough knowledge of server-side web programming. Topics included 
		n-tiered systems, session tracking, interfaces and stereotypes, dynamic web page design, database connections, and XML processing. 
		Students gained considerable knowledge and experience by learning important features needed for e-commerce, applying advanced 
		web application techniques, and utilizing web databases.
    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="http://www.acs.uwinnipeg.ca/undergraduate/undergraduate_courses/undergraduate_courses_outlines"><u>[Syllabus]</u></a></span>
    </div>
	
    <h3>ACS-2909 - INTERNET PROGRAMMING - Fall 2009</h3>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
	
		I was hired as a sessional instructor/lecturer at the University of Winnipeg's Applied Computer Science department to teach introductory 
		internet programming concepts in fall 2009. 
		This course provided students with an overview of Internet and Web programming, development tools, resources, utilities, multimedia, 
		and security issues. Students gained hands-on experience in Javascript, Rich Internet Applications (RIAs), Web services, Design Patterns 
		and Mobile Application Development.
    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="http://www.acs.uwinnipeg.ca/undergraduate/undergraduate_courses/undergraduate_courses_outlines"><u>[Syllabus]</u></a></span>
    </div>

</div>

{% include paginator.html %}